<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav
    #drawerLeft
    [mode]="'side'"
    [opened]="true"
    position="start"
    class="drawer-left"
  >
    <button mat-raised-button class="mr-2" (click)="goHome()">HOME</button>
    <app-basic-info></app-basic-info>
  </mat-sidenav>

  <mat-sidenav
    #drawer
    [mode]="'over'"
    [opened]="false"
    position="end"
    class="drawer-right"
  >
    <button mat-icon-button class="mr-2" (click)="drawer.toggle()">
      <mat-icon svgIcon="arrow-right"></mat-icon>
    </button>

    <div *ngIf="isBasicInfoCurrent()" class="mt-2 right-panel-scroll">
      <app-basic-info-editor></app-basic-info-editor>
    </div>

    <!-- <div class="mt-2 right-panel-scroll">
      <button
        mat-raised-button
        [disabled]="!dirty"
        class="mr-2"
        (click)="save()"
      >
        SAVE
      </button>
      <app-game-component-code-editor
        [helpFile]="'help/server_code_editor_help'"
        [codes]="codes"
      ></app-game-component-code-editor>
    </div> -->
  </mat-sidenav>

  <section>
    <button mat-icon-button class="toogle" (click)="drawer.toggle()">
      <mat-icon svgIcon="arrow-left"></mat-icon>
    </button>

    <app-arena
      *ngIf="gameDefinition"
      [gameDefinition]="gameDefinition"
      [debug]="true"
      [currentLuchador]="0"
    ></app-arena>
  </section>
</mat-sidenav-container>
