<mat-sidenav-container [hasBackdrop]="false" *ngIf="gameDefinition">
  <mat-sidenav
    #drawerLeft
    [mode]="'side'"
    [opened]="true"
    position="start"
    class="drawer-left"
  >
    <button mat-raised-button class="mr-2" (click)="goAllMaps()">
      ALL MAPS
    </button>
    <button mat-raised-button [disabled]="!dirty" class="mr-2" (click)="save()">
      SAVE
    </button>
    <button mat-raised-button class="mr-2" (click)="download()">
      DOWNLOAD
    </button>
    <hr />

    <mat-accordion multi="true">
      <app-basic-info [gameDefinition]="gameDefinition"></app-basic-info>

      <app-narrative [gameDefinition]="gameDefinition"></app-narrative>

      <app-game-definition-code
        [gameDefinition]="gameDefinition"
      ></app-game-definition-code>

      <app-game-component
        [components]="gameDefinition.gameComponents"
      ></app-game-component>

      <app-scene-components
        [components]="gameDefinition.sceneComponents"
        [pickElement]="onPickElement"
      ></app-scene-components>
    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav
    #drawer
    [mode]="'over'"
    [opened]="false"
    position="end"
    class="drawer-right"
  >
    <button mat-icon-button class="mr-2" (click)="drawer.toggle()">
      <mat-icon svgIcon="arrow-right"></mat-icon>
    </button>

    <div *ngIf="isBasicInfoCurrent()" class="mt-2 right-panel-scroll">
      <app-basic-info-editor></app-basic-info-editor>
    </div>

    <div *ngIf="isGameDefinitionCodeCurrent()" class="mt-2 right-panel-scroll">
      <app-game-definition-code-editor></app-game-definition-code-editor>
    </div>

    <div
      *ngIf="isGameDefinitionSuggestedCodeCurrent()"
      class="mt-2 right-panel-scroll"
    >
      <app-game-definition-suggested-code-editor></app-game-definition-suggested-code-editor>
    </div>

    <div *ngIf="isGameComponentCurrent()" class="mt-2 right-panel-scroll">
      <app-game-component-editor></app-game-component-editor>
    </div>

    <div
      *ngIf="isSingleSceneComponentCurrent()"
      class="mt-2 right-panel-scroll"
    >
      <app-single-scene-component-editor></app-single-scene-component-editor>
    </div>

    <div *ngIf="isNarrativeCurrent()" class="mt-2 right-panel-scroll">
      <app-narrative-editor></app-narrative-editor>
    </div>
  </mat-sidenav>

  <section>
    <button mat-icon-button class="toogle" (click)="drawer.toggle()">
      <mat-icon svgIcon="arrow-left"></mat-icon>
    </button>

    <button mat-icon-button class="screenshot" (click)="screenshot()">
      <mat-icon svgIcon="camera"></mat-icon>
    </button>

    <app-arena
      #arena
      [gameDefinition]="gameDefinition"
      [currentLuchador]="0"
      [matchStateSubject]="matchState"
      [cameraFollowLuchador]="false"
      (ready)="onArenaReady()"
      (onPick)="pick($event)"
    ></app-arena>
  </section>
</mat-sidenav-container>
