<app-game-background>
  <div class="container">
    <div class="row">
      <app-header>Public arenas</app-header>
    </div>

    <div class="row">
      <app-game-card
        [componentId]="match.name"
        class="col-sm-12 col-md-6 col-lg-4 mb-4"
        *ngFor="let match of matches"
        [match]="match"
        [userDetails]="userDetails"
        (onplay)="play($event)"
      ></app-game-card>

      <div *ngIf="matches.length <= 0">
        <h4>There are no matches available</h4>
      </div>
    </div>
  </div>
</app-game-background>
