<div class="row">
  <!-- left buttons -->
  <div class="col-xs-12 col-4" id="mask-editor-categories-selector">
    <div class="btn-group-vertical" role="group" aria-label="...">
      <button
        *ngFor="let item of categories"
        (click)="setCurrent(item.id)"
        type="button"
        [ngClass]="{
          'btn-primary': isCurrent(item.id),
          'btn-light': !isCurrent(item.id)
        }"
        class="btn"
      >
        {{ item.label }}
      </button>
    </div>
  </div>
  <ng-container *ngFor="let category of categories">
    <div *ngIf="isCurrent(category.id)" class="col-xs-12 col-8">
      <ngb-accordion
        [closeOthers]="true"
        activeIds="{{ category.subcategories[0].key }}"
      >
        <ngb-panel
          *ngFor="let subcategory of category.subcategories"
          id="{{ subcategory.key }}"
        >
          <ng-template ngbPanelTitle>
            <span
              *ngIf="subcategory.type == type.color"
              class="mask-editor-color-block align-middle"
              [ngStyle]="{ 'background-color': getColor(subcategory.key) }"
              placement="top"
              container="body"
              ngbTooltip="{{ getColorLabel(subcategory.key) }}"
            ></span>
            <img
              *ngIf="subcategory.type == type.shape"
              class="mask-editor-shape-block align-middle"
              src="{{ getShape(subcategory.key) }}"
            />

            <span class="mask-editor-subcategory-title">{{
              subcategory.label
            }}</span>
          </ng-template>
          <ng-template ngbPanelContent>
            <app-color-picker
              *ngIf="subcategory.type == type.color"
              [current]="getColor(subcategory.key)"
              (onChange)="update(subcategory.key, $event)"
            ></app-color-picker>
            <app-shape-picker
              *ngIf="subcategory.type == type.shape"
              [current]="getShapeName(subcategory.key)"
              (onChange)="update(subcategory.key, $event)"
              [shapeName]="subcategory.key"
            ></app-shape-picker>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </ng-container>
</div>
