<app-game-background>
  <div class="container">
    <div class="row">
      <app-header>PERSONALIZE</app-header>
    </div>

    <div class="row pb-3">
      <div class="col-6">
        <mat-form-field id="luchadorName">
          <input matInput placeholder="Luchador name" [formControl]="luchadorNameFormControl">
        </mat-form-field>
        <button color="accent" *ngIf="luchadorNameFormControl.dirty" class="mr-2" (click)="saveLuchadorName()"
          mat-raised-button>
          SAVE
        </button>
        <div>
          <p class="text-error" *ngFor="let error of errors">{{ error }}</p>
        </div>
      </div>
      <div class="col-6 text-right">
        <button color="accent" *ngIf="dirty" class="mr-2" (click)="save()" mat-raised-button>
          SAVE
        </button>
        <button id="random-mask" (click)="random()" class="mr-2" mat-raised-button>RANDOM</button>
        <button id="cube-it" (click)="cubeIt()" mat-raised-button>CUBE IT!</button>

      </div>
    </div>

    <div class="row">
      <div class="col-6 text-left">
        <app-mask-editor-detail (onChange)="onUpdate($event)"></app-mask-editor-detail>
      </div>

      <div class="col-6 text-center">
        <app-luchador-preview></app-luchador-preview>
      </div>
    </div>
  </div>
</app-game-background>