<app-header></app-header>
<div class="container">
  <div class="row">
    <h3>Playground</h3>
  </div>

  <div class="row">
    <div class="col-10">
      <button
        type="button"
        class="btn btn-sm"
        [ngClass]="{
          'btn-primary': cameraFollowLuchador,
          'btn-outline-primary': !cameraFollowLuchador
        }"
        (click)="toggleCameraFollow()"
      >
        Camera follow
      </button>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-1" *ngFor="let name of animationNames">
      <button
        type="button"
        class="btn btn-sm btn-primary"
        (click)="animate(name)"
      >
        {{ name }}
      </button>
    </div>
    <hr />
    <div>
      <button type="button" class="btn btn-sm" 
      [ngClass]="{
        'btn-primary': rotating,
        'btn-outline-primary': !rotating
      }"
      (click)="toggleRotate()">Toggle Rotation</button>
      <button type="button" class="btn btn-sm" 
      [ngClass]="{
        'btn-primary': rotatingGun,
        'btn-outline-primary': !rotatingGun
      }"
      (click)="toggleRotateGun()">Toggle Gun Rotation</button>
    </div>
  </div>

  <div class="row">
    <div class="col-10">
      <app-arena
        [gameDefinition]="gameDefinition"
        [matchStateSubject]="matchStateSubject"
        [animateSubject]="animateSubject"
        [debug]="true"
        [cameraFollowLuchador]="cameraFollowLuchador"
        [currentLuchador]="1"
        [messageFPS]="fps"
      ></app-arena>
    </div>
    <div class="col-4">
      <textarea
        class="json-data"
        [ngModel]="data"
        [readonly]="rotating || rotatingGun"
        (ngModelChange)="onChange($event)"
      ></textarea>
    </div>
  </div>
</div>
