<div class="row">
  <h3>Playground</h3>
</div>

<div class="row">
  <div class="col-10">
    <button type="button" class="btn btn-sm" [ngClass]="{
      'btn-primary':cameraFollowLuchador,
      'btn-outline-primary': !cameraFollowLuchador
    }" (click)="toggleCameraFollow()">Camera follow</button>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-10">
    <app-arena [gameDefinition]="gameDefinition" [matchStateSubject]="matchStateSubject" [debug]="true"
      [cameraFollowLuchador]="cameraFollowLuchador" [currentLuchador]="1"></app-arena>
  </div>
  <div class="col-4">
    <textarea class="json-data" [ngModel]="data" (ngModelChange)="onChange($event)"></textarea>
  </div>
</div>

