<mat-card [attr.id]="componentId">
  <mat-card-header>
    <mat-card-title>{{ match.gameDefinition.label }}</mat-card-title>
  </mat-card-header>

  <img
    mat-card-image
    [src]="getImageName()"
    alt="{{ match.gameDefinition.label }}"
    (error)="imageErrorHandler($event)"
  />
  <mat-card-content>
    <p>{{ match.gameDefinition.type }}</p>
    <p id="description">{{ match.gameDefinition.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <app-big-button
      *ngIf="!canPlay()"
      [disabled]="true"
      [minWidth]="'90%'"
      id="play"
    >
      <span><mat-icon svgIcon="lock"></mat-icon></span>
    </app-big-button>
    <app-big-button
      *ngIf="canPlay()"
      [minWidth]="'90%'"
      (click)="play(match.id)"
      id="play"
    >
      <span>PLAY</span>
    </app-big-button>
  </mat-card-actions>
</mat-card>
