<div class="container">
  <div class="row pt-4 pb-4">
    <div class="col-md-8">
      <h1>Choose your arena</h1>
    </div>
  </div>

  <div class="row">
    <div *ngIf="availableMatches.length <= 0">
      <h4>There are no matches</h4>
    </div>
  </div>
  <div>
    <table mat-table [dataSource]="availableMatches" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="participants">
        <th mat-header-cell *matHeaderCellDef>Participants</th>
        <td mat-cell *matCellDef="let element">
          {{ element.participants }} / {{ element.maxParticipants }}
        </td>
      </ng-container>

      <ng-container matColumnDef="timeLeft">
        <th mat-header-cell *matHeaderCellDef>Ends</th>
        <td mat-cell *matCellDef="let element">{{ element.timeLeft }}</td>
      </ng-container>

      <ng-container matColumnDef="btnJoin">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <app-cant-play *ngIf="!element.canPlay"></app-cant-play>
          <span *ngIf="element.canPlay">
            <!-- Already in the match -->
            <button
              *ngIf="element.isParticipant"
              id="btnJoinMatch"
              mat-raised-button
              (click)="play(element.matchID, 0)"
            >
              <span>
                <mat-label>Rejoin</mat-label>
              </span>
            </button>

            <!-- No team and not participant -->
            <button
              *ngIf="!element.isParticipant && !element.teams"
              id="btnJoinMatch"
              mat-raised-button
              (click)="play(element.matchID, 0)"
            >
              <span>
                <mat-label>Start</mat-label>
              </span>
            </button>

            <span *ngIf="!element.isParticipant && element.teams">
              <span>Choose your team </span>
              <button
                class="team-button"
                *ngFor="let team of element.teams"
                id="btnJoinMatch"
                mat-raised-button
                (click)="play(element.matchID, team.id)"
              >
                <span>
                  <mat-icon
                    [ngStyle]="{ 'color': team.color }"
                    svgIcon="flag"
                  ></mat-icon>
                  <mat-label>{{ team.name }}</mat-label>
                </span>
              </button>
            </span>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
  </div>
</div>
