<mat-card [attr.id]="componentId">
  <img
    mat-card-image
    src="{{ getImageName() }}"
    alt="{{ gameDefinition.label }} description image"
    (error)="imageErrorHandler($event)"
  />
  <mat-card-content>
    <p>
      <span id="title">{{ gameDefinition.name }}</span
        ><br />
        <span id="title">{{ gameDefinition.label }}</span
          ><br />
            <span id="type">{{ gameDefinition.type }}</span>
    </p>
    <p id="description">{{ gameDefinition.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button color="accent" (click)="edit()" id="edit" mat-raised-button>
      EDIT
    </button>
  </mat-card-actions>
</mat-card>
