<div class="watch-main">
  <app-clock class="clock" [matchStateSubject]="matchStateSubject"></app-clock>

  <div *ngIf="gameDefinition">
    <app-watch-match
      [gameDefinition]="gameDefinition"
      [luchador]="luchador"
      [matchID]="matchID"
      (matchFinished)="endMatch()"
      (matchStateSubject)="updateState($event)"
      (messageSubject)="updateMessage($event)"
    ></app-watch-match>
  </div>

  <div class="panel-selector">
    <div class="panel-selector-item">
      <app-home-button (onClick)="goHome()"></app-home-button>
    </div>

    <div class="panel-selector-item">
        <app-round-button 
          id="button-edit-code"
          [color]="'primary'" 
          [icon]="'pencil'" 
          (onclick)="toggleCode()">
        </app-round-button>
    </div>    
    
    <div class="panel-selector-item">
        <app-round-button 
          [color]="'primary'" 
          [icon]="'trophy'" 
          (onclick)="toggleScore()">
        </app-round-button>
    </div>
    
    <div class="panel-selector-item">
        <app-round-button 
          [color]="'primary'" 
          [icon]="'message-text-outline'" 
          (onclick)="toggleMessages()">
        </app-round-button>
    </div>

  </div>

  <div class="p-3 matchover-alert" *ngIf="matchOver">
    <h1>This match is over!</h1>
    <button class="btn btn-primary float-right" (click)="goBack()">
      <span>Back to the list</span>
    </button>
    <app-score [scores]="scores"></app-score>
  </div>

  <app-code-editor-panel
    *ngIf="gameDefinition"
    [gameDefinition]="gameDefinition"
    class="code-editor-panel"
    [@slideInOut]="{
      value: panelStates.code,
      params: { inVal: '150%', outVal: 0 }
    }"
  >
  </app-code-editor-panel>

  <app-score
    class="score"
    [@slideInOut]="{
      value: panelStates.score,
      params: { inVal: '-30%', outVal: '100%' }
    }"
    [scores]="scores"
  ></app-score>

  <app-message
    class="message-panel"
    [@slideInOutVert]="{
      value: panelStates.message,
      params: { inVal: '-130%', outVal: '100%' }
    }"
    [messageSubject]="messageSubject"
  ></app-message>
</div>
