.drawer {
  min-width: 700px;
  width: 20%;
  right: 0;
}

.user-message {
  width: 100%;
}

.message-area {
  width: 100%;
}

.navigation {
  z-index: 5;
  position: absolute;
  left: 1%;
  top: 1%;
}

.navigation-button {
  background-color: whitesmoke;
}

.toogle {
  z-index: 5;
  position: absolute;
  right: 1%;
  top: 1%;
  background-color: whitesmoke;
}

.clock {
  z-index: 3;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 2%;
  background-color: whitesmoke;
}

.score {
  position: absolute;
  left: 1%;
  top: 1%;
  /* width: 20%; */
  min-width: 50px;
  z-index: 9999;
}

.message-panel {
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 100%;
  bottom: 0;
  width: 60%;
  min-width: 250px;
  height: 68%;
  z-index: 9999;
  background-color: whitesmoke;
  overflow-y: scroll;
}

.matchover-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 50%;
  height: 70%;
}

.score-in-alert {
  overflow-y: scroll;
}

.matchover-preparing {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 60%;
  height: 30%;
}

.matchover-link-invalid {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 30%;
  height: 30%;
}

.matchover-alert button {
  margin: 0 auto;
  display: block;
}

.btn-round {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border: none;
  background-color: #007bff;
}

.btn-round:hover {
  background-color: #0069d9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.btn-round span {
  color: white;
}

.score-last {
  overflow-y: scroll;
}

.right-panel-scroll {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
