<app-header></app-header>

<div class="watch-main">
  <app-clock class="clock" [matchStateSubject]="matchStateSubject"></app-clock>

  <div *ngIf="gameDefinition">
    <app-watch-match
      [gameDefinition]="gameDefinition"
      [luchador]="luchador"
      [matchID]="matchID"
      (matchFinished)="endMatch()"
      (matchStateSubject)="updateState($event)"
      (messageSubject)="updateMessage($event)"
    ></app-watch-match>
  </div>

  <ul class="panel-selector float-right">
    <li>
      <button (click)="toggleCode()" class="btn-round">
        <fa-icon
          [styles]="{ stroke: 'white', color: 'white' }"
          [icon]="['fas', 'edit']"
          size="2x"
        ></fa-icon>
      </button>
    </li>
    <li>
      <button (click)="toggleScore()" class="btn-round">
        <fa-icon
          [styles]="{ stroke: 'white', color: 'white' }"
          [icon]="['fas', 'trophy']"
          size="2x"
        ></fa-icon>
      </button>
    </li>
    <li>
      <button (click)="toggleMessages()" class="btn-round">
        <fa-icon
          [styles]="{ stroke: 'white', color: 'white' }"
          [icon]="['fas', 'comment']"
          size="2x"
        ></fa-icon>
      </button>
    </li>
  </ul>

  <div class="p-3 matchover-alert" *ngIf="matchOver">
    <h1>This match is over!</h1>
    <button class="btn btn-primary float-right" (click)="gotoMatchList()">
      <span>Return to Match List</span>
    </button>
    <app-score [scores]="scores"></app-score>
  </div>

  <app-code-editor-panel *ngIf="gameDefinition"
    [gameDefinition]="gameDefinition"
    class="code-editor-panel"
    [@slideInOut]="{
      value: panelStates.code,
      params: { inVal: '150%', outVal: 0 }
    }"
  >
  </app-code-editor-panel>

  <app-score
    class="score"
    [@slideInOut]="{
      value: panelStates.score,
      params: { inVal: '-30%', outVal: '100%' }
    }"
    [scores]="scores"
  ></app-score>

  <app-message
    class="message-panel"
    [@slideInOutVert]="{
      value: panelStates.message,
      params: { inVal: '-120%', outVal: '100%' }
    }"
    [messageSubject]="messageSubject"
  ></app-message>
</div>
