
  <div class="card">
    <img class="card-img-top" src="assets/maps/all-against-all.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        <!-- {{ match.timeStart | date:'short'  }}, {{ match.gameDefinitionID }} -->
      </p>
      <div><button class="btn btn-success" (click)="join(match)">Play</button></div>
    </div>
  </div>
