@import "src/styles/game.css";

.spacer {
  width: 20px;
}

.game-toolbar {
  padding: 10px;
  background-color: black;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.title {
  color: white;
  font-family: "Robotech", sans-serif;
  font-size: xxx-large;
}

.right {
  color: white;
  font-family: "Robotech", sans-serif;
  font-size: x-large;
}
