<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">&nbsp;</th>
        <th scope="col">&nbsp;</th>
        <th scope="col">K/D</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let score of scores; index as i">
        <td><span class="position">{{ format(i) }}</span></td>
        <td class="name">{{ score.name }}</td>
        <td>{{ score.k }}/{{ score.d }}</td>
        <td class="score">{{ score.score }}</td>
      </tr>
    </tbody>
  </table> 
</div>
