<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header> Help </mat-expansion-panel-header>
    <app-mark-down [fileName]="helpFile"></app-mark-down>
  </mat-expansion-panel>

  <mat-expansion-panel *ngFor="let editor of editors; index as i" [expanded]="isExpanded(i)">
    <mat-expansion-panel-header>{{ editor.label }}</mat-expansion-panel-header>
    <app-code-editor
      [script]="getScript(editor.event)"
      (onChange)="updateCode(editor.event, $event)"
    >
    </app-code-editor>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="messageSubject">
    <mat-expansion-panel-header>
      Code messages
    </mat-expansion-panel-header>
    <app-message
      class="message-panel"
      [messageSubject]="messageSubject"
    ></app-message>
  </mat-expansion-panel>
</mat-accordion>
