<app-game-background>
  <app-header [title]="'HELP'"></app-header>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Version {{version}}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <a href="https://www.robolucha.com/play" target="_blank"
          >Online documentation</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr />
        <p>
          Some pages display contextual help the first time you load it, click
          here to reset and show all contextual help messages again.
        </p>
        <button (click)="resetContextualMessages()" mat-raised-button>
          Reset context help
        </button>
      </div>
      <div class="col-10"></div>
    </div>

    <div class="row">
      <div class="col-12">
        <hr />
        <ul>
          <li><a id="robotech" href="https://www.dafont.com/gustavo-paz.d5244" target="_blank">Robotech font used in the page titles</a>
          </li>
        </ul>
      </div>
    </div>

    
  </div>
</app-game-background>
