<div class="row">
  <div class="col-xs-12 col-3">
    <div class="btn-group-vertical" role="group" aria-label="...">
      <button
        *ngFor="let item of categories"
        (click)="setCurrent(item.category)"
        type="button"
        [ngClass]="{
          'btn-success': isCurrent(item.category),
          'btn-primary': !isCurrent(item.category)
        }"
        class="btn"
      >
        {{ item.label }}
      </button>
    </div>
  </div>

  <div class="col-xs-12 col-9">
    <ngb-accordion
      *ngIf="isCurrent(options.mask)"
      [closeOthers]="true"
      activeIds="mask-primary-color"
    >
      <ngb-panel id="mask-primary-color">
        <ng-template ngbPanelTitle>
          <span
            class="color-block align-middle"
            [ngStyle]="{ 'background-color': getColor('mask.primary.color') }"
            placement="top"
            container="body"
            ngbTooltip="{{ getColorLabel('mask.primary.color') }}"
          ></span>

          <span>Primary Color</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-color-picker
            (onChange)="update('mask.primary.color', $event)"
          ></app-color-picker>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="mask-secondary-color">
        <ng-template ngbPanelTitle>
          <span
            class="color-block align-middle"
            [ngStyle]="{ 'background-color': getColor('mask.secondary.color') }"
            placement="top"
            container="body"
            ngbTooltip="{{ getColorLabel('mask.secondary.color') }}"
          ></span>

          <span>Secondary Color</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-color-picker
            (onChange)="update('mask.secondary.color', $event)"
          ></app-color-picker>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="mask-shape">
        <ng-template ngbPanelTitle> <span>Shape</span> </ng-template>
        <ng-template ngbPanelContent>
          <app-shape-picker
            (onChange)="update('mask.shape', $event)"
            shapeName="maskShape"
          ></app-shape-picker>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
