<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title> Scene Components </mat-panel-title>
    <mat-panel-description> </mat-panel-description>
  </mat-expansion-panel-header>

  <table class="scene-component-table">
    <thead>
      <tr>
        <th width="20%">Type</th>
        <th width="20%">Color</th>
        <th width="20%">X / Y</th>
        <th width="20%">W / H</th>
        <th width="20%">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let component of components; index as i">
        <td>{{component.type}} {{formatBlock(component)}}</td>
        <td><span [ngStyle]="{'color': component.color}">&#9724;</span> {{component.color}}</td>
        <td>{{component.x}}/{{component.y}}</td>
        <td>{{component.width}}/{{component.height}}</td>
        <td>
          <button mat-icon-button (click)="edit(component)">
            <mat-icon svgIcon="pencil"></mat-icon>
          </button>
          <button mat-icon-button (click)="delete(i)">
            <mat-icon svgIcon="delete"></mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <mat-action-row>
    <button mat-button (click)="add()">ADD</button>
  </mat-action-row>
</mat-expansion-panel>
