<div *ngIf="components" class="container">
  <div class="row">
    <div class="col"><span class="title">Scene Components</span></div>
    <div class="col">
      <button mat-icon-button (click)="add()">
        <mat-icon svgIcon="plus"></mat-icon>
      </button>
    </div>
  </div>

  <div class="row" *ngFor="let component of components">
    <div class="col">{{ component.type }}</div>
    <div class="col">{{ component.x }} / {{ component.y }}</div>
    <div class="col">
      <button mat-icon-button (click)="edit(component)">
        <mat-icon svgIcon="pencil"></mat-icon>
      </button>
    </div>
  </div>
</div>
