<mat-expansion-panel *ngIf="gameDefinition" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title> Basic Information </mat-panel-title>
    <mat-panel-description> </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="container">
    <div class="row">
      <div class="col">Name</div>
      <div class="col">{{ gameDefinition.name }}</div>
    </div>

    <div class="row">
      <div class="col">
        <img
          class="thumbnail"
          *ngIf="gameDefinition.media.thumbnail"
          [src]="gameDefinition.media.thumbnail"
        />
      </div>
    </div>

    <div class="row">
      <div class="col">Label</div>
      <div class="col">{{ gameDefinition.label }}</div>
    </div>

    <div class="row">
      <div class="col">Description</div>
      <div class="col">{{ gameDefinition.description }}</div>
    </div>

    <div class="row">
      <div class="col">Type</div>
      <div class="col">{{ gameDefinition.type }}</div>
    </div>

    <div class="row">
      <div class="col">Duration</div>
      <div class="col">{{ gameDefinition.duration }}</div>
    </div>

    <div class="row">
      <div class="col">Width</div>
      <div class="col">{{ gameDefinition.arenaWidth }}</div>
    </div>

    <div class="row">
      <div class="col">Height</div>
      <div class="col">{{ gameDefinition.arenaHeight }}</div>
    </div>

    <div class="row">
      <div class="col">Min Participants</div>
      <div class="col">{{ gameDefinition.minParticipants }}</div>
    </div>

    <div class="row">
      <div class="col">Max Participants</div>
      <div class="col">{{ gameDefinition.maxParticipants }}</div>
    </div>

    <div class="row">
      <div class="col">Next map</div>
      <div class="col">{{ nextLabel() }}</div>
    </div>

    <div class="row">
      <div class="col">Respawn X</div>
      <div class="col">{{ gameDefinition.respawnX }}</div>
    </div>

    <div class="row">
      <div class="col">Respawn Y</div>
      <div class="col">{{ gameDefinition.respawnY }}</div>
    </div>

    <div class="row">
      <div class="col">Respawn angle</div>
      <div class="col">{{ gameDefinition.respawnAngle }}</div>
    </div>

    <div class="row">
      <div class="col">Respawn gun angle</div>
      <div class="col">{{ gameDefinition.respawnGunAngle }}</div>
    </div>

  </div>

  <mat-action-row>
    <button mat-button (click)="edit()">EDIT</button>
  </mat-action-row>
</mat-expansion-panel>
