<app-game-background>
  <div class="container">

    <div class="row pt-4">
      <div class="col-4">
        <div>
          <img width="280" height="300" src="assets/pages/robolucha-play.gif" class="clickable"
            (click)="lobby()">
          <div class="title-main-container clickable" (click)="lobby()">
            <span class="title-main">PLAY</span><br>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div>
          <img width="280" height="300" src="assets/pages/robolucha-personalize.gif" class="clickable"
            (click)="customize()">
          <div class="title-main-container clickable" (click)="customize()">
            <span class="title-main">PERSONALIZE</span>
          </div>
        </div>
      </div>

      <div class="col-2">
        <div class="row pt-4">
          <div class="col-12">
            <app-big-button id="help-button" (click)="help()">
              Help
            </app-big-button>
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-12">
            <app-big-button id="forum-button" (click)="forum()">
              Forum
            </app-big-button>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-12">
            <app-big-button id="forum-button" (click)="maps()">
              Maps
            </app-big-button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12" id="learn-title">
        <h2>Learn how to play</h2>
      </div>
    </div>

    <div class="row">
      <app-game-card [componentId]="match.name" class="col-sm-10 col-md-5 col-lg-3 mb-3"
        *ngFor="let match of tutorialMatches" [match]="match" [userDetails]="userDetails" (onplay)="play($event)">
      </app-game-card>
      <div *ngIf="tutorialMatches.length <= 0">
        <h4>There are no matches available</h4>
      </div>
    </div>

  </div>
</app-game-background>