<app-game-background>
  <div class="container">
    <div class="row pt-4">
      <div class="col-10">
        <h1 id="title">{{ luchador.name }}</h1>
      </div>
      <app-role-guard role="dashboard_user">
        <div class="col-2">
          <button routerLink="/admin" mat-raised-button>TEACHER AREA</button>
        </div>
      </app-role-guard>
    </div>

    <div class="row">
      <div class="col-12">
        <div id="center-image">
          <img src="/assets/pages/luchador1.png" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <app-big-button (click)="customize()">
          Customize
        </app-big-button>
        <app-big-button (click)="publicArena()">
          Public Arenas
        </app-big-button>
        <app-big-button (click)="classroomArena()">
          Classroom Arenas
        </app-big-button>
        <app-big-button (click)="help()">
          Help
        </app-big-button>
      </div>
    </div>
  </div>
</app-game-background>
