@import 'src/styles/game.css';

.clickable{
  cursor: pointer;
}

.title-main-container{ 
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 280px;
  padding-left:20px;
}

.title-main{ 
  color: white;
  font-size: x-large;
}

.subtitle-main{ 
  color: darkslategray;
}

#learn-title{
  margin-top: 40px;
}

#left-image {
  position: fixed;
  left: 0%;
  bottom: 0%;
  z-index: 1;
}

#right-image {
  position: fixed;
  right: 0%;
  top: 0%;
  z-index: 2;
}

@media only screen and (max-width: 1026px) {
  #right-image {
      display: none;
  }
}

#top-row{
  position: fixed;
  top: 0;
  width: 90%;
  margin-top: 20px;
  z-index: 100;
}

#luchador-name {
  padding-left: 30px;
}

#bottom-buttons{
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
  z-index: 100;
}
