<div id="main-container">
  <div class="top">
    <div>
      <h1 id="title">{{ luchador.name }}</h1>
      <div id="center-image">
        <img src="/assets/pages/luchador1.png" />
      </div>
    </div>
  </div>

  <div class="bottom">
    <div>
      <button (click)="customize()" class="big-button round" mat-raised-button>Customize</button>
      <button (click)="publicArena()" class="big-button round" mat-raised-button>Public Arenas</button>
      <button (click)="classroomArena()" class="big-button round" mat-raised-button>
        Classroom Arenas
      </button>
      <button (click)="help()" class="big-button round" mat-raised-button>Help</button>
    </div>
  </div>
</div>

<!-- <div>
<button mat-raised-button>Basic</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>
<button mat-raised-button disabled>Disabled</button>
<a mat-raised-button routerLink=".">Link</a>
</div> -->
