

<div *ngIf="matchState">
  <div>
    <app-clock 
      [matchState]="matchState"
    ></app-clock>

    <app-arena
      [gameDefinition]="gameDefinition"
      [matchStateSubject]="matchStateSubject"
      [debug]="false"
      [currentLuchador]="luchador.id"
    ></app-arena>

    <!-- Should make this its own component too? -->
    <div class="message-area">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Message</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let msg of getUserMessages()" >
            <td [style.background-color]="msg.color">{{msg.type}}</td>
            <td [style.background-color]="msg.color">{{msg.message}}</td>
          </tr> 
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <app-score
        [matchStateSubject]="matchStateSubject"
      ></app-score>
    </div>
  </div>

</div>
