

<div *ngIf="matchState" class="container">
  <div class="row">
    <app-arena
      [gameDefinition]="gameDefinition"
      [matchStateSubject]="matchStateSubject"
      [debug]="false"
      [currentLuchador]="luchador.id"
    ></app-arena>
      <div class="message-area">
        <table class="table table-sm">
          <thead>
            <tr>
              <!-- <th scope="col">Time</th> -->
              <th scope="col">Type</th>
              <th scope="col">Message</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let msg of getUserMessages()" >
              <!-- <td>{{msg.when}}</td> -->
              <td [style.background-color]="msg.color">{{msg.type}}</td>
              <td [style.background-color]="msg.color">{{msg.message}}</td>
            </tr> 
          </tbody>
        </table>
      </div>
  </div>
  
  <div class="row">
    <div class="col">
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Luchador</th>
              <th scope="col">Kills</th>
              <th scope="col">Deaths</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let luchador of sortedScores()">
              <td>{{ luchador.name }}</td>
              <td>{{ luchador.state.k }}</td>
              <td>{{ luchador.state.d }}</td>
              <td>{{ luchador.state.score }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
