.user-message{
    width: 100%;
}
.message-area{
    width: 100%;
}
.watch-main{
    margin-top:1.4%
}

.clock{
    z-index: 3;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 20%;
}


.code-editor-panel {
    position: fixed;
    left: -65%;
    top: 20%;
    right: auto;
    bottom: 0;
    width: 55%;
    min-width: 250px;
    height: 68%;
    z-index: 9999;
    background-color: whitesmoke;
  }

  .message-panel{
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 100%;
    bottom: 0;
    width: 55%;
    min-width: 250px;
    height: 68%;
    z-index: 9999;
    background-color: whitesmoke;
    overflow-y: scroll;
  }
  
.panel-selector{
    list-style: none;
    position: fixed;
    right: 1%;
    top: 30%;
    z-index: 10000;

}

.btn-round{
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border:none;
    background-color: #007bff;
}

.btn-round:hover{
    background-color: #0069d9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}




.btn-round span{ 
    color: white;
}

.panel-selector .btn-round {
    margin-bottom: 20px;
    z-index: 10000;

}

