

<div *ngIf="matchState" class="container">
  <div class="row">
    <div class="clock">
      {{parsedMatchTime()}}
    </div>
    <app-arena
      [gameDefinition]="gameDefinition"
      [matchStateSubject]="matchStateSubject"
      [debug]="false"
      [currentLuchador]="luchador.id"
    ></app-arena>

    <app-message
        [messageSubject]="messageSubject"  
    ></app-message>

  </div>
  
  <div class="row">
    <div class="col">
      <app-score
        [matchStateSubject]="matchStateSubject"
      ></app-score>
    </div>
  </div>

</div>
