<div id="editor-container">
<div class="row">
  <div class="col-8">
    <ngb-tabset class="editor-tabs">
      <ngb-tab title="On Repeat">
        <ng-template ngbTabContent>
          <div>
            <app-code-editor
              [code]="codes.onRepeat"
              (onChange)="updateCode('onRepeat', $event)"
            ></app-code-editor>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="On Start">
        <ng-template ngbTabContent>
          <div>
            <app-code-editor
              [code]="codes.onStart"
              (onChange)="updateCode('onStart', $event)"
            ></app-code-editor>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="On Got Damage">
        <ng-template ngbTabContent>
          <div>
            <app-code-editor
              [code]="codes.onGotDamage"
              (onChange)="updateCode('onGotDamage', $event)"
            ></app-code-editor>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="On Found">
        <ng-template ngbTabContent>
          <div>
            <app-code-editor
              [code]="codes.onFound"
              (onChange)="updateCode('onFound', $event)"
            ></app-code-editor>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="On Hit Other">
        <ng-template ngbTabContent>
          <div>
            <app-code-editor
              [code]="codes.onHitOther"
              (onChange)="updateCode('onHitOther', $event)"
            ></app-code-editor>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="On Hit Wall">
        <ng-template ngbTabContent>
          <div>
            <app-code-editor
              [code]="codes.onHitWall"
              (onChange)="updateCode('onHitWall', $event)"
            ></app-code-editor>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="col-4" id="code-editor-help">
    <app-mark-down [fileName]="'help/code_editor_help'"></app-mark-down>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button
      id="button-code-editor-save"
      [disabled]="!dirty"
      class="btn btn-primary align-bottom"
      (click)="save()"
    >
      Save
    </button>
  </div>
</div>
</div>
