<app-game-background>
  <app-header [title]="title"></app-header>

  <div class="container">
    <div *ngIf="classrooms.length" class="row">
      <app-game-card
        [componentId]="match.name"
        class="col-sm-10 col-md-5 col-lg-3 mb-3"
        *ngFor="let match of matches"
        [match]="match"
        [userDetails]="userDetails"
        (onplay)="play($event)"
      ></app-game-card>

      <div *ngIf="matches.length <= 0">
        <h4>There are no matches available</h4>
      </div>
    </div>
  </div>

  <ng-template #joinSucess>
    <h2 matDialogTitle>Congratulations</h2>
    <p matDialogContent>
      You joined classrom <em>{{ classroom.name }}</em>
    </p>
    <mat-dialog-actions align="center">
      <button mat-raised-button matDialogClose>Dismiss</button>
    </mat-dialog-actions>
  </ng-template>
</app-game-background>
