<div class="container">
  <div class="row pt-4 pb-4">
    <div class="col-md-8">
      <h1>Classrooms</h1>
    </div>
    <div class="col-md-4 text-right">
      <button (click)="create()" mat-raised-button>NEW</button>
    </div>
  </div>

  <div class="row">
    <app-classroom-card
      class="classroom-card"
      *ngFor="let classroom of classrooms"
      [classroom]="classroom"
      (onStudents)="listStudents(classroom.id)"
      (onAssignments)="listAssignments(classroom.id)"
    ></app-classroom-card>

    <div *ngIf="classrooms.length <= 0">
      <h4>There are no classrooms</h4>
    </div>
  </div>
</div>
