<div *ngIf="gameDefinition" class="container" [formGroup]="form">
  <div class="row">
    <div class="col"><span class="title">Basic Information</span></div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="col-10 mt-3 mx-auto">
        <mat-label>Name</mat-label>
        <input
          type="text"
          matInput
          formControlName="name"
          placeholder="Ex. MY_AMAZING_MAP"
        />
        <mat-error *ngIf="form.get('name').hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="col-10 mt-3 mx-auto">
        <mat-label>Label</mat-label>
        <input
          type="text"
          matInput
          formControlName="label"
          placeholder="Ex. My Amazing map"
        />
        <mat-error *ngIf="form.get('label').hasError('required')">
          Label is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="col-10 mt-3 mx-auto">
        <mat-label>Description</mat-label>
        <input
          type="text"
          matInput
          formControlName="description"
          placeholder="Ex. More information about this map"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="col-10 mt-3 mx-auto">
        <mat-label>Duration</mat-label>
        <input
          type="text"
          matInput
          formControlName="duration"
          placeholder="Ex. Time in miliseconds"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="col-10 mt-3 mx-auto">
        <mat-label>Width</mat-label>
        <input
          type="text"
          matInput
          formControlName="arenaWidth"
          placeholder="Ex. 1200"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="col-10 mt-3 mx-auto">
        <mat-label>Height</mat-label>
        <input
          type="text"
          matInput
          formControlName="arenaHeight"
          placeholder="Ex. 1200"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="col-10 mt-3 mx-auto">
        <mat-label>Min Participants</mat-label>
        <input
          type="text"
          matInput
          formControlName="minParticipants"
          placeholder="Ex. 2"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="col-10 mt-3 mx-auto">
        <mat-label>Max Participants</mat-label>
        <input
          type="text"
          matInput
          formControlName="maxParticipants"
          placeholder="Ex. 20"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="col-10 mt-3 mx-auto">
        <mat-label>Next map</mat-label>
        <mat-select matInput formControlName="nextGamedefinitionID">
          <mat-option [value]="0">None</mat-option>
            <mat-option *ngFor="let definition of definitions" 
            [value]="definition.id">{{definition.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-file-upload formControlName="file"></app-file-upload><br />
      <img [src]="preview" />
    </div>
  </div>
</div>
