<div style="margin-top:1em;" class="container">
  <div class="row">
    <h1 class="col-md-9">Create a new classroom</h1>
  </div>
</div>
<div class="container">
  <form (submit)="createClassroom($event)">
    <div class="form-group">
      <label for="classroomName">Classroom name</label>
      <input
        class="form-control col-md-3"
        type="text"
        name="classroomName"
        required
        minlength="3"
        maxlength="40"
      />
    </div>
    <button type="submit" mat-raised-button>SAVE</button>

    <button routerLink="/dashboard/classrooms" mat-raised-button>
      CANCEL
    </button>
  </form>
</div>
