<div class="container">

  <div class="row">
    <div class="col-md-9 pt-4 pb-4">
      <h1>Create a new classroom</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <form (submit)="createClassroom($event)">
        <div class="form-group">
          <label for="classroomName">Classroom name</label>
          <input
            class="form-control col-md-3"
            type="text"
            name="classroomName"
            required
            minlength="3"
            maxlength="40"
          />
        </div>
        <div>
            <button type="submit" mat-raised-button>SAVE</button>

            <button class="ml-2" routerLink="/admin/classrooms" mat-raised-button>
              CANCEL
            </button>
        </div>
      </form>
    </div>
  </div>
</div>
