html,
body {
  background-image: none;
}

span,
div,
button {
  font-family: "Ubuntu", sans-serif;
}

.app-content {
  padding: 2.5%;
}

.app-sidenav {
  min-width: 300px;
  max-width: 100%;
}

md-icon {
  height: auto;
}

button.mat-icon-button {
  line-height: 24px !important;
}

.mat-icon {
  margin-bottom: 4px;
}

.mat-icon svg {
  height: 24px;
  width: 24px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
