html,
body {
  background-image: none;
}

span, div, button {
  font-family: "Ubuntu", sans-serif;
}

.app-content {
  padding: 2.5%;
}

.app-sidenav {
  min-width: 300px;
  max-width: 100%;
}

md-icon {
  height: auto;
}

button.mat-menu-item {
  line-height: 24px !important;
}

a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}

.mat-icon svg {
  height: 24px;
  width: 24px;
}

// a.mat-menu-item > mat-icon {
//   margin-bottom: 14px;
// }

// .mat-icon svg {
//   height: 24px;
//   width: 24px;
// }

// .toolbar-icon {
//   padding: 0 14px;
// }

.toolbar-spacer {
  flex: 1 1 auto;
}
