<mat-sidenav-container fullscreen>
  <mat-sidenav
    [mode]="'side'"
    [opened]="true"
    position="start"
    #sidenav="matSidenav"
    class="app-sidenav"
  >
    <mat-toolbar>
      <span>Links</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button (click)="sidenav.close()">
        <mat-icon svgIcon="chevron-left"></mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item (click)="classrooms()">
        <h2 matLine>Classrooms</h2>
      </a>
      <a mat-list-item (click)="activities()">
        <h2 matLine>Activities</h2>
      </a>
    </mat-nav-list>

    <mat-divider></mat-divider>

    <mat-nav-list>
      <a mat-list-item href="https://www.robolucha.com/play" target="_blank">
        <h2 matLine>
          <mat-icon svgIcon="help-circle-outline"></mat-icon> Help
        </h2>
      </a>
      <a mat-list-item (click)="home()">
        <h2 matLine>
          <mat-icon svgIcon="play-circle-outline"></mat-icon> Play
        </h2>
      </a>
    </mat-nav-list>
    
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z3">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon svgIcon="menu"></mat-icon>
      </button>
      <span class="ml-2">Robolucha dashboard</span>
    </mat-toolbar>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
    <br />
    <br />
  </mat-sidenav-content>
</mat-sidenav-container>
