<mat-card [attr.id]="componentId">
  <img
    mat-card-image
    src="{{ getImageName(match) }}"
    alt="{{ match.gameDefinition.label }} description image"
  />
  <mat-card-content>
    <p>
      <span id="title">{{ match.gameDefinition.label }}</span
      ><br />
      <span id="type">{{ match.gameDefinition.type }}</span>
    </p>
    <p id="description">{{ match.gameDefinition.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <app-big-button *ngIf="!canPlay(match)" [disabled]="true" [minWidth]="'90%'" id="play">
      <span><mat-icon svgIcon="lock"></mat-icon></span>
    </app-big-button>
    <app-big-button *ngIf="canPlay(match)" [minWidth]="'90%'" (click)="play(match.id)" id="play">
      <span>PLAY</span>
    </app-big-button>
  </mat-card-actions>
</mat-card>
