@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* https://dev.materialdesignicons.com/getting-started/angular */

button.mat-menu-item {
  line-height: 24px !important;
}

a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}

.mat-icon svg {
  height: 24px;
  width: 24px;
}

/* fixes shadow on mat-raised buttons at the toolbar */
.mat-toolbar-single-row {
  height: 65px !important;
}

/*TODO replace with theme colors*/
.snack-bar-error {
  background-color: #dc3545;
  /* background-color: mat-color($warn); */
}

.snack-bar-warning {
  background-color: #ffc107;
  /* background-color: mat-color($dark-warn); */
}

.snack-bar-info {
  background-color: #17a2b8;
  /* background-color: mat-color($accent); */
}

.mat-button-wrapper {
  color: black !important;
}

@font-face {
  font-family: "Baloo";
  src: url(/assets/fonts/baloo-regular.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Ubuntu";
  src: url(/assets/fonts/ubuntu-regular.ttf) format("truetype");
  font-weight: 300;
}

.ace_editor,
.ace_editor * {
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro,
    monospace;
}

html,
body {
  height: 100%;
  width: 100%;
}
