<div *ngIf="component" class="container" [formGroup]="form">
  <div class="row">
    <div class="col"><span class="title">Scene component</span></div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="col-10 mt-3 mx-auto">
        <mat-label>Type</mat-label>
        <mat-select matInput formControlName="type">
          <mat-option value="wall">Wall</mat-option>
          <mat-option value="region">Region</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="col-10 mt-3 mx-auto">
        <mat-label>Color</mat-label>
        <input type="text" matInput formControlName="color" />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="col-10 mt-3 mx-auto">
        <mat-label>X</mat-label>
        <input type="text" matInput formControlName="x" />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="col-10 mt-3 mx-auto">
        <mat-label>Y</mat-label>
        <input type="text" matInput formControlName="y" />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="col-10 mt-3 mx-auto">
        <mat-label>Width</mat-label>
        <input type="text" matInput formControlName="width" />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="col-10 mt-3 mx-auto">
        <mat-label>Height</mat-label>
        <input type="text" matInput formControlName="height" />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="col-10 mt-3 mx-auto">
        <mat-label>Alpha</mat-label>
        <input type="text" matInput formControlName="alpha" />
        <mat-error
          *ngIf="
            form.get('alpha').hasError('min') ||
            form.get('alpha').hasError('max')
          "
        >
          Alpha values should be from 0 to 1.
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="col mt-3 mx-auto">
        <mat-checkbox formControlName="blockMovement"
          >Block Movement</mat-checkbox
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="col mt-3 mx-auto">
        <mat-checkbox formControlName="colider">Colider</mat-checkbox>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="col mt-3 mx-auto">
        <mat-checkbox formControlName="respawn">Respawn</mat-checkbox>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="col mt-3 mx-auto">
        <mat-checkbox formControlName="showInRadar">Show in radar</mat-checkbox>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="col mt-3 mx-auto">
        <mat-label>Life</mat-label>
        <input type="text" matInput formControlName="life" />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-code-accordion
        [codes]="codes"
        [helpFile]="helpFile"
        [editors]="editors"
        (update)="updateCode($event)"
      ></app-code-accordion>
    </div>
  </div>
</div>
